.links-container, .mobile-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;

    width: 98%;  
    background-color: white;
    border-radius: 0.5rem; 
    

    margin-top: 1rem;
    padding: 1.5rem 1rem;
    
}

.links-right {
    display: flex; 
    gap: 1rem;
}

.a {
    text-decoration: none;
    color: black;
    margin: 0.5rem 1rem;
    
}

.p {
    text-overflow: ellipsis;
    overflow: hidden;

    display: inline-block;
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

@media (max-width: 480px) {
    .p{width:240px}
}

.short-link {
    color: var(--primary-cyan);
    margin: 0.5rem 1rem;
}

.btn, .btn-copied {
    border: none; 
    border-radius: 0.5rem;
    padding: 0.7rem 1.4rem;

    background-color: var(--primary-cyan);
    color: white;
   
    cursor: pointer;
    transition: opacity 400ms;

}

.btn-copied {background-color: var(--primary-dark-violet) }

.btn:hover, .btn-copied:hover{
    opacity: 0.5;
}

.mobile-container {
    display: None; 
    flex-direction: column;
    padding: 1.5rem 0rem;
    gap: 1rem; 
    align-items: flex-start;
    /* white-space: nowrap; */
    

}

.line {
    border: solid var(--neutral-gray) 1px;
    width: 100%;
}
@media (max-width: 650px) {
    .links-container {
        display: none; 
    }

    .mobile-container {
        display: flex; 
    }

    .btn, .btn-copied {
        width: 90%; 
        border-radius: 0.2rem;
        margin: 0rem auto;
    }
}