.links-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;

    width: 98%;  
    background-color: white;
    border-radius: 0.5rem; 
    

    margin-top: 1rem;
    padding: 1.5rem 1rem;
    
}

.links-right {
    display: flex; 
    gap: 1rem;
}

.btn {
    border: none; 
    border-radius: 0.5rem;
    padding: 0.7rem 1.4rem;

    background-color: var(--primary-cyan);
    color: white;
   
    cursor: pointer;
    transition: opacity 400ms;

    
}

.btn:hover{
    opacity: 0.5;
}