

.container {
    background-color: var(--primary-dark-violet); 
    color: white; 
    border-radius: 0.3rem;
    
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;

    position: fixed;
    left: 10%;
    top: 100px;
    width: 80%;

    font-size: 0.85rem;
    opacity: 1;
    visibility: visible; 
    

    transition:   visibility 500ms, opacity 500ms; 
    z-index: 3; 
    /* z-index: 3; because other divs have z index of 2 */
    
}



.hidden {
    opacity: 0;
    visibility: hidden;
    position:fixed;
}



/* .hidden {
    transition: opacity 300ms;
    opacity: 0;
    pointer-events: none;
    position: fixed; 

    width: 0; 
    height: 0;
} */

.p {
    cursor: pointer;  
}

.p:hover {color: var(--primary-cyan)}

.line {
    width: 100%;
    border: solid rgb(99, 99, 99) 0.1rem;
}

.button {
    border: none; 
    border-radius: 1rem;
    padding: 0.47rem 4rem;

    background-color: var(--primary-cyan);
    color: white;
   
    cursor: pointer;
    transition: opacity 400ms;

   

}

.button:hover{opacity: 0.5;}